/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC    &kp Q            &kp W            &kp F         &kp P          &kp R      &kp J    &kp L               &kp U         &kp Y             &kp APOS          &kp BSPC
&kp LCTRL  &hrm LEFT_GUI A  &hrm LEFT_ALT R  &hrm LCTRL S  &hrm LSHIFT T  &kp G      &kp M    &hrm RIGHT_SHIFT N  &hrm RCTRL E  &hrm RIGHT_ALT I  &hrm RIGHT_GUI O  &kp SQT
&kp LSHFT  &kp Z            &kp X            &kp C         &kp D          &kp V      &kp K    &kp H               &kp COMMA     &kp DOT           &kp FSLH          &kp ESC
                                             &mo 1         &kp SPACE      &kp TAB    &kp RET  &kp BSPC            &mo 0
            >;
        };

        number {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp N7  &kp N8   &kp N9  &kp ASTERISK    &trans  &trans          &trans            &trans        &trans        &trans
&kp EQUAL         &kp SEMICOLON      &kp N4  &kp N5   &kp N6  &kp PLUS        &trans  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &trans
&kp UNDERSCORE    &kp CARET          &kp N1  &kp N2   &kp N3  &kp SLASH       &trans  &trans          &trans            &trans        &trans        &trans
                                             &kp DOT  &kp N0  &kp MINUS       &trans  &trans          &trans
            >;
        };

        layer_2 {
            bindings = <
&kp  &kp SQT                    &kp LESS_THAN        &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp DOT     &kp AMPERSAND  &kp         &kp LEFT_BRACKET                     &kp RIGHT_BRACKET                 &kp PERCENT              &kp
&kp  &hrm LEFT_GUI EXCLAMATION  &hrm LEFT_ALT MINUS  &hrm LCTRL PLUS   &hrm LSHFT EQUAL   &kp HASH    &kp PIPE       &kp COLON   &hrm RIGHT_CONTROL LEFT_PARENTHESIS  &hrm RIGHT_ALT RIGHT_PARENTHESIS  &hrm RIGHT_GUI QUESTION  &kp
&kp  &kp CARET                  &kp SLASH            &kp ASTERISK      &kp BACKSLASH      &kp         &kp TILDE      &kp DOLLAR  &kp LEFT_BRACE                       &kp RIGHT_BRACE                   &kp AT                   &kp
                                                     &kp               &kp                &kp         &kp            &kp         &kp
            >;
        };
    };
};
